.main {
  /* size */
  width: 100%;
  height: 100vh;
  /* design */
  background-color: none;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
