.back-none {
  background-color: inherit;
}
.back-white {
  background-color: white;
}
.back-wheat {
  background-color: wheat;
}
.back-coral {
  background-color: lightcoral;
}
.back-green {
  background-color: lightgreen;
}
.back-red {
  background-color: lightsalmon;
}
.back-blue {
  background-color: lightskyblue;
}
.back-yellow {
  background-color: lightyellow;
}
.back-grey {
  background-color: lightgrey;
}
