@font-face {
  font-family: "Nanum Gothic";
  src: url("/fonts/NanumGothic.eot");
  src: url("/fonts/NanumGothic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumGothic.woff") format("woff"),
    url("/fonts/NanumGothic.ttf") format("truetype"),
    url("/fonts/NanumGothic.svg#NanumGothic") format("svg");
  src: local(※), url("/fonts/NanumGothic.woff") format("woff");
}
